#TopPage{
    color:#6E4330;
    max-width:80%;
    height:auto;
}
#leftBodyWrapper{
    background-color:rgba(255,255,255,.5);
    background-size:contain;
    max-width:50%;

}

#SPECimage{
    max-width:80%;
    height:auto;
    background-color:rgba(255,255,255,.5);
    background-size:contain;

}
#ParametersTable{
    color:lightcoral;
    max-width:80%;
    height:auto;
    
}
    #tdParametersTable{
        color:lightseagre 
    }
    #capParametersTable{
        color:darkcyan;
        font-size: 50px;
    }

#dataInput{
    border: cadetblue;
    background-color: cornsilk;
    background-size:contain;

}

#calculatedTableWrapper{
    position:absolute;
    top:3%;
    right:15%;
    width:25%;
    max-width:30%;
    height:auto;
    background-color:rgba(255,255,255,.5);
    background-size: auto auto;
}

#BG{
    position:absolute;
    z-index:-999;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/ShinonChan.jpg");
}

#BG-White{
    position:absolute;
    z-index:-998;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color:white;
    opacity:65%;
}
#lengthTotalERROR{
    color:palevioletred;
    font-size:15px;
}
   
.selected {
    color: rgb(229,86,120);
}


