#TopPage{
    color:#6E4330;
    max-width:80%;
    height:auto;
}

#SPECimage{
    max-width:80%;
    height:auto;
}
#ParametersTable{
    color:lightcoral;
    max-width:80%;
    height:auto;
}
    #tdParametersTable{
        color:lightseagre 
    }
    #capParametersTable{
        color:darkcyan;
        font-size: 50px;
    }

#dataInput{
    border-width: thin;
    border: cadetblue;
    background-color: cornsilk;
}

#calculatedTableWrapper{
    position:absolute;
    top:3%;
    right:5%;
    width:25%;
    max-width:30%;
    height:auto;
}

    #calcTableCaption{
        color:darkcyan;
        font-size: 35px;
    }
    


